---
import Project from "components/Project/Project.astro";
---

<div class="flex flex-col items-center max-w-[1500px] w-full">
  <h2 class="self-start font-medium text-3xl md:text-4xl mb-10">My projects</h2>
  <div class="flex flex-col gap-[25px] px-3">
    <Project
      name="Tea-stash"
      desc="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam magni repudiandae mollitia voluptate sequi corporis ipsam quibusdam voluptas quis cupiditate voluptatem soluta, placeat architecto exercitationem?"
      imgSrc=""
      github="https://github.com/mattponiat/tea-stash"
      website="https://tea-stash.vercel.app/"
      href="/tea-stash"
    />
    <Project
      name="Photographer's portfolio"
      desc="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam magni repudiandae mollitia voluptate sequi corporis ipsam quibusdam voluptas quis cupiditate voluptatem soluta, placeat architecto exercitationem?"
      imgSrc=""
      github="https://github.com/mattponiat/lukaszponiatowski-portfolio"
      website="https://lukaszponiatowski.pl"
      href="/photographer-portfolio"
    />
    <Project
      name="Bienbot"
      desc="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam magni repudiandae mollitia voluptate sequi corporis ipsam quibusdam voluptas quis cupiditate voluptatem soluta, placeat architecto exercitationem?"
      imgSrc=""
      github="https://github.com/bienbot/bienbot"
      website="https://bienbot.vercel.app/"
      href="/bienbot"
    />
    <Project
      name="Sorting Visualizer"
      desc="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam magni repudiandae mollitia voluptate sequi corporis ipsam quibusdam voluptas quis cupiditate voluptatem soluta, placeat architecto exercitationem?"
      imgSrc=""
      github="https://github.com/mattponiat/sorting-visualizer"
      website="https://sorting-visualizer-lac-ten.vercel.app/"
      href="/sorting-visualizer"
    />
    <Project
      name="TypinguTesto"
      desc="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam magni repudiandae mollitia voluptate sequi corporis ipsam quibusdam voluptas quis cupiditate voluptatem soluta, placeat architecto exercitationem?"
      imgSrc=""
      github="https://github.com/mattponiat/typingu-testo"
      website="https://typingu-testo-two.vercel.app/"
      href="/typingu-testo"
    />
  </div>
</div>
