<div class="flex flex-col gap-1">
  <h1 class="font-medium text-4xl sm:text-5xl md:text-6xl">
    Mateusz Poniatowski
  </h1>
  <span class="text-base sm:text-lg md:text-xl ml-2">
    Front-end web developer based in Poland
  </span>
</div>
