---
interface Props {
  text: string;
  href: string;
  class?: any;
}

const { text, href } = Astro.props as Props;
---

<a
  href={href}
  target="_blank"
  class="flex justify-center items-center w-[95px] h-[45px] border border-solid border-white cursor-pointer no-underline transition duration-300 hover:bg-white hover:text-black"
>
  {text}
</a>
