---
import Layout from "layouts/Layout.astro";
import Name from "components/Name/Name.astro";
import Projects from "components/Projects/Projects.astro";
import AboutMe from "components/AboutMe/AboutMe.astro";
import Contact from "components/Contact/Contact.astro";
---

<meta
  name="description"
  property="og:description"
  content="Portfolio website of a front-end web developer"
/>
<meta property="og:title" content="Mateusz Poniatowski" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mattponiat.com.pl/" />
<Layout title="Mateusz Poniatowski">
  <main
    class="flex flex-col max-w-full min-h-screen p-4 md:p-8 lg:p-14 text-white"
  >
    <Name />
    <Projects />
    <AboutMe />
    <Contact />
  </main>
</Layout>
