---
import Icons from "components/Icons/Icons.astro";
import ProjectDesc from "components/ProjectDesc/ProjectDesc.astro";
import ProjectMainInfo from "components/ProjectMainInfo/ProjectMainInfo.astro";
import Layout from "layouts/Layout.astro";
---

<Layout title="Photographer's Portfolio">
  <main
    class="flex flex-col max-w-full min-h-screen p-4 md:p-8 lg:p-14 text-white"
  >
    <ProjectMainInfo
      name="Photographer's portfolio"
      videoSrc="https://www.data.mattponiat.com.pl/project-videos/photographer-portfolio.mp4"
      website="https://lukaszponiatowski.pl"
      github="https://github.com/mattponiat/lukaszponiatowski-portfolio"
    />
    <Icons
      icons={[
        {
          src: "https://www.data.mattponiat.com.pl/icons/react-logo.webp",
          iconName: "React",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/nextjs-logo.webp",
          iconName: "Next.js",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/typescript-logo.webp",
          iconName: "Typescript",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/aws-lambda-logo.webp",
          iconName: "AWS Lambda",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/amazon-s3-logo.webp",
          iconName: "Amazon S3",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/styled-components-logo.webp",
          iconName: "Styled Components",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/mui-logo.webp",
          iconName: "Material-UI",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/formik-logo.webp",
          iconName: "Formik",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/xstate-logo.webp",
          iconName: "XState",
        },
      ]}
    />
    <ProjectDesc>
      Portfolio website made for a photographer.<br />
      It allows you to view his photos, read about his approach to photography and
      contact him through the contact form.<br /><br />
      This is my first project that I created while working as a freelancer.<br/><br/>
      For the contact form I've used Formik and for the validation I've used Yup and XState.<br />
      The function responsible for sending the emails is written in AWS Lambda.<br
      /><br />
      For storing the photos I've used Amazon S3 bucket that is connected to a custom
      subdomain.<br /><br />
      This time the site was designed by my client, but I made a lot of UI fixes
      which we both discussed and agreed on.
    </ProjectDesc>
  </main>
</Layout>
