---
import Icons from "components/Icons/Icons.astro";
import ProjectDesc from "components/ProjectDesc/ProjectDesc.astro";
import ProjectMainInfo from "components/ProjectMainInfo/ProjectMainInfo.astro";
import Layout from "layouts/Layout.astro";
---

<Layout title="Sorting Visualizer">
  <div
    class="flex flex-col max-w-full min-h-screen p-4 md:p-8 lg:p-14 text-white"
  >
    <section class="flex flex-col items-center max-w-full w-full">
      <ProjectMainInfo
        name="Sorting Visualizer"
        videoSrc="https://www.data.mattponiat.pl/project-videos/sorting-visualizer.mp4"
        website="https://sorting.mattponiat.pl"
        github="https://github.com/mattponiat/sorting-visualizer"
      />
    </section>
    <section class="flex flex-col items-center max-w-full w-full mt-16">
      <Icons
        icons={[
          {
            icon: "https://www.data.mattponiat.pl/icons/react-logo.webp",
            iconName: "React",
          },
          {
            icon: "https://www.data.mattponiat.pl/icons/vite-logo.webp",
            iconName: "Vite",
          },
          {
            icon: "https://www.data.mattponiat.pl/icons/typescript-logo.webp",
            iconName: "Typescript",
          },
          {
            icon: "https://www.data.mattponiat.pl/icons/stitches-logo.webp",
            iconName: "Stitches",
          },
          {
            icon: "https://www.data.mattponiat.pl/icons/radix-logo.webp",
            iconName: "Radix-ui",
          },
        ]}
      />
    </section>
    <section class="flex flex-col items-center max-w-full w-full my-16">
      <ProjectDesc
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        officiis reprehenderit dolorum expedita placeat? Et, eligendi!
        Praesentium expedita molestiae, reiciendis deleniti animi recusandae
        minima laboriosam quis fugiat ipsum illum iste necessitatibus ea minus
        delectus eos iure sunt quisquam suscipit quam? Dolor minima quibusdam
        corrupti neque, dicta, voluptatibus placeat vero reprehenderit accusamus
        mollitia laborum voluptas sequi culpa hic iusto ipsam eos nemo fugit!
        Recusandae corrupti, ipsum itaque iure sed animi reprehenderit
        voluptate. Sapiente odio, omnis voluptas quibusdam veniam iure ipsa
        dolor officiis adipisci error nihil ratione. Sed quo quod ducimus cumque
        esse, deserunt ea nam veniam, reiciendis voluptatibus quis numquam?
        Ipsam?
      </ProjectDesc>
    </section>
  </div>
</Layout>
