---
import Icons from "components/Icons/Icons.astro";
import ProjectDesc from "components/ProjectDesc/ProjectDesc.astro";
import ProjectMainInfo from "components/ProjectMainInfo/ProjectMainInfo.astro";
import Layout from "layouts/Layout.astro";
---

<Layout title="Tea-stash">
  <main
    class="flex flex-col max-w-full min-h-screen p-4 md:p-8 lg:p-14 text-white"
  >
    <ProjectMainInfo
      name="Tea-stash"
      videoSrc="https://www.data.mattponiat.com.pl/project-videos/tea-stash.mp4"
      website="https://teas.mattponiat.com.pl"
      github="https://github.com/mattponiat/tea-stash"
    />
    <Icons
      icons={[
        {
          src: "https://www.data.mattponiat.com.pl/icons/react-logo.webp",
          iconName: "React",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/nextjs-logo.webp",
          iconName: "Next.js",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/typescript-logo.webp",
          iconName: "Typescript",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/hygraph-logo.webp",
          iconName: "Hygraph",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/apollo-logo.webp",
          iconName: "Apollo",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/chakra-logo.webp",
          iconName: "Chakra-ui",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/emotion-logo.webp",
          iconName: "Emotion",
        },
        {
          src: "https://www.data.mattponiat.com.pl/icons/framer-motion-logo.webp",
          iconName: "Framer Motion",
        },
      ]}
    />
    <ProjectDesc
      >Website made for storing information about teas.<br /><br />
      Since I'm passionate about tea, I wanted to make a project that reflects this
      hobby of mine.<br /><br />
      The biggest challenge I've faced was the UI design because I had never done
      it before.<br />
      Making this project has taught me a lot about css, flexbox, grid and responsive
      design.<br />
      I've used Chakra-ui to help me with the components, but everything is still
      designed by me.<br /><br />
      I've used Apollo to connect to my Hygraph database where I store all the data
      about teas.<br />
      I've learned how to use headless CMS, GraphQL queries and how to fetch data
      from my database by using Static Site Generation in Next.js.<br />
    </ProjectDesc>
  </main>
</Layout>
