---
import ContactText from "components/ContactText/ContactText.astro";
---

<div class="flex flex-col items-center max-w-[1500px] w-full">
  <h2 class="self-start font-medium text-3xl md:text-4xl mb-8">Contact</h2>
  <div class="flex flex-col gap-3 max-w-[1365px] w-full px-1 md:px-3">
    <ContactText heading="Email: " text="matiponiat@gmail.com" />
    <ContactText
      heading="Github: "
      text="github.com/mattponiat"
      href="https://github.com/mattponiat"
    />
    <ContactText
      heading="LinkedIn: "
      text="linkedin.com/in/mattponiat"
      href="https://www.linkedin.com/in/mattponiat/"
    />
  </div>
</div>
