<div class="flex flex-col items-center max-w-[1200px] w-full">
  <h2 class="self-start font-medium text-2xl sm:text-3xl md:text-4xl mb-8">
    Description
  </h2>
  <div class="flex max-w-[1000px] w-full px-1 md:px-3">
    <p class="text-lg md:text-xl lg:text-2xl ml-1"><slot></slot></p>
  </div>
</div>
