<div class="flex flex-col items-center max-w-[1500px] w-full">
  <h2 class="self-start font-medium text-3xl md:text-4xl mb-8">About Me</h2>
  <div class="max-w-[1365px] w-full px-1 md:px-3">
    <p class="text-lg md:text-xl lg:text-2xl ml-1">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, quisquam
      nihil debitis voluptates deserunt sequi blanditiis nam totam consequuntur
      cum assumenda, earum cupiditate ullam incidunt magnam temporibus aliquid
      autem quos quam odio obcaecati. Magni at deleniti optio, aliquid iste nam
      eum neque accusantium ut aut, impedit quasi, repellat totam aperiam eos
      doloremque quae rem. Nihil velit a quam maiores itaque? Omnis expedita
      repellendus molestiae sunt dolorem est illo cum, quibusdam excepturi eum
      rerum veritatis perspiciatis enim non magnam, maxime, ut porro dicta? Nisi
      vitae molestiae laborum aliquam animi expedita, adipisci obcaecati
      exercitationem ipsa nam cupiditate rerum, officiis repellat. Repellendus,
      ipsam!
    </p>
  </div>
</div>
